body {
	font-family: Arial, sans-serif;
	margin: 20px;
	text-align: center;
}

#game-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 80px;
	margin-top: 30px;
}

#game-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

#map {
	width: 600px;
	height: 600px;
	border: 2px solid black;
}

#cameras {
	display: flex;
	gap: 15px;
}

button {
	padding: 10px 20px;
	cursor: pointer;
}

#camera-logs {
	width: 250px;
	height: 568px;
	border: 2px solid black;
	padding: 15px;
	text-align: left;
}
